extends ../layout/layout.pug
block content
    <div class="page-wrapper">
    <div class="content">
    <div class="row">
    <div class="col-lg-8 offset-lg-2">
    <h4 class="page-title">Add Patient</h4>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-8 offset-lg-2">
    <form action="/add-patient" method="post">
    <div class="row">
    <div class="col-sm-6">
    <div class="form-group">
    <label>First Name <span class="text-danger">*</span></label>
    <input class="form-control" type="text" name="first_name">
    </div>
    </div>
    <div class="col-sm-6">
    <div class="form-group">
    <label>Last Name</label>
    <input class="form-control" type="text" name="last_name">
    </div>
    </div>
    <div class="col-sm-6">
    <div class="form-group">
    <label>Username <span class="text-danger">*</span></label>
    <input class="form-control" type="text" name="user_name">
    </div>
    </div>
    <div class="col-sm-6">
    <div class="form-group">
    <label>Email <span class="text-danger">*</span></label>
    <input class="form-control" type="email" name="email">
    </div>
    </div>
    <div class="col-sm-6">
    <div class="form-group">
    <label>Password</label>
    <input class="form-control" type="password" name="password">
    </div>
    </div>
    <div class="col-sm-6">
    <div class="form-group">
    <label>Confirm Password</label>
    <input class="form-control" type="password" name="confirm_pass">
    </div>
    </div>
    <div class="col-sm-6">
    <div class="form-group">
    <label>Date of Birth</label>
    <div class="cal-icon">
    <input type="text" class="form-control datetimepicker" name="DOB">
    </div>
    </div>
    </div>
    <div class="col-sm-6">
    <div class="form-group gender-select">
    <label class="gen-label">Gender:</label>
    <div class="form-check-inline">
    <label class="form-check-label">
    <input type="text" class="form-control" name="gender">
    </label>
    </div>
    </div>
    </div>
    <div class="col-sm-12">
    <div class="row">
    <div class="col-sm-12">
    <div class="form-group">
    <label>Address</label>
    <input type="text" class="form-control "name="address">
    </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
    <div class="form-group">
    <label>Country</label>
    <input type="text" class="form-control " name="country" value="Tanzania">
    </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">
    <div class="form-group">
    <label>City/Mkoa</label>
    <input type="text" class="form-control" name="city">
    </div>
    </div>

    <div class="col-sm-6">
    <div class="form-group">
    <label>Phone </label>
    <input class="form-control" type="text" name="phone_no">
    </div>
    </div>
    <div class="col-sm-6">
    <div class="form-group">
    <label>Avatar</label>
    <div class="profile-upload">
    <div class="upload-img">
    <img alt="" src="assets/img/user.jpg">
    </div>
    <div class="upload-input">
    <input type="file" class="form-control" name="img">
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="form-group">
    <label class="display-block">Status</label>
    <div class="form-check form-check-inline">
    <input class="form-control" type="text" name="status">
    </label>
    </div>
    </div>
    <div class="m-t-20 text-center">
    <button class="btn btn-primary submit-btn">Create Patient</button>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    block scripts