extends ../layout/layout.pug
block content
    <div class="page-wrapper">
    <div class="content">
    <div class="row">
    <div class="col-lg-8 offset-lg-2">
    <h4 class="page-title">Edit Asset</h4>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-8 offset-lg-2">
    <form>
    <div class="row">
    <div class="col-md-6">
    <div class="form-group">
    <label>Asset Name</label>
    <input class="form-control" type="text" value="Anaesthetic machine">
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-group">
    <label>Asset Id</label>
    <input class="form-control" type="text" placeholder="#AST-0001" readonly>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6">
    <div class="form-group">
    <label>Purchase Date</label>
    <input class="form-control" type="text">
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-group">
    <label>Purchase From</label>
    <input class="form-control" type="text">
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6">
    <div class="form-group">
    <label>Manufacturer</label>
    <input class="form-control" type="text">
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-group">
    <label>Model</label>
    <input class="form-control" type="text">
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6">
    <div class="form-group">
    <label>Serial Number</label>
    <input class="form-control" type="text">
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-group">
    <label>Supplier</label>
    <input class="form-control" type="text">
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-group">
    <label>Condition</label>
    <input class="form-control" type="text">
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-group">
    <label>Warranty</label>
    <input class="form-control" type="text" placeholder="In Months">
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6">
    <div class="form-group">
    <label>Value</label>
    <input placeholder="$1800" class="form-control" type="text" placeholder="$62480">
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-group">
    <label>Asset User</label>
    <input class="form-control" type="text">
    </div>
    </div>
    <div class="col-md-12">
    <div class="form-group">
    <label>Description</label>
    <textarea class="form-control"></textarea>
    </div>
    </div>
    <div class="col-md-6">
    <div class="form-group">
    <label>Status</label>
    <select class="select">
    <option selected>Pending</option>
    <option>Approved</option>
    <option>Deployed</option>
    <option>Damaged</option>
    </select>
    </div>
    </div>
    </div>
    <div class="m-t-20 text-center">
    <button class="btn btn-primary submit-btn">Save</button>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    block scripts