<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all" integrity="sha384-fnm">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIFE-SERVER</title>
    <link rel="stylesheet" type="text/css" href="assets/css/home.css">
</head>

<body>
    <section class="sect-one">
        <div class="nav">
            <ul>
                <h1>LIVE SAVER</h1>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Contacts</a></li>
            </ul>
        </div>

        <div class="text">
            <h1>The life saver</h1>
            <p>Is a group combine graduated students with specialists of differet carries such as health, law, psychology that formulate a platform to deal with common societies problems.</p>
        </div>

        <div class="container">
            <div class="blog1"></div>
            <div class="blog2"></div>
            <div class="blog3"></div>
            <div class="blog4"></div>
        </div>
    </section>

    <section class="sect-two">
        <h1>WHY LIFE SAVER?</h1>
        <div class="container2">
            <div class="imgs">

            </div>
            <div class="contents">
                <div class="sec2-imgs">
                    <div class="img1"><img src="bu1.jpg" alt=""></div>
                    <div class="img2"><img src="conf.jpg" alt=""></div>
                    <div class="img3"><img src="pic2.jpg" alt=""></div>

                </div>
                <div class="sec2-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In ea animi illo, labore perspiciatis nam nemo doloribus possimus minus sequi voluptatem iusto maiores nobis, ducimus totam! Asperiores ipsam nisi quae blanditiis esse voluptatibus fuga ad tempore officiis earum accusantium in iure perspiciatis eveniet sed ratione totam, a iste quas itaque. Esse perferendis ipsum blanditiis harum, veritatis voluptate quam quas sapiente, enim nihil temporibus autem, eius quisquamprovident! Voluptatum perferendis, repudiandae temporibus sed nesciunt asperiores mollitia exercitationem sit placeat. Sint cupiditate, rerum facere eum architecto exercitationem vel enim iste natus, totam similique modi quas qui doloribus suscipit a voluptatem dicta quo?</p>
                </div>

            </div>
        </div>
    </section>

    <section class="section3">
        <div class="wrap">
            <div id="arrow-left" class="arrow"></div>
            <div id="slider">
                <div class="slide slide1">
                    <div class="slide-content">
                        <span>Image one</span>
                    </div>
                </div>
                <div class="slide slide2">
                    <div class="slide-content">
                        <span>Image two</span>
                    </div>
                </div>
                <div class="slide slide3">
                    <div class="slide-content">
                        <span>Image three</span>
                    </div>
                </div>
            </div>
            <div id="arrow-right" class="arrow"></div>
        </div>
    </section>

    <section class="section4">
        <div class="sec4-part1">
            <h1>LIVE SAVER</h1>
            <p class="p1">for the standard life</p>
            <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur provident pariatur adipisci delectus eum repellat, ullam illo deserunt maxime exercitationem odit numquam accusantium, obcaecati voluptas ad est, porro eaque commodi.</p>

            <div class="icon-container">
                <div class="icon1">
                    <a href=""><i class="fa fa-facebook"></i></a>
                </div>
                <div class="icon2">
                    <a href=""><i class="fa fa-twitter"></i></a>
                </div>
                <div class="icon3">
                    <a href=""><i class="fa fa-github"></i></a>
                </div>

            </div>
        </div>
        <div class="sec4-part2">
            <h1>SOLUTIONS</h1>
            <ul>
                <li>
                    <a href="">Blogs</a>
                </li>
                <li>
                    <a href="">Webnaries</a>
                </li>
                <li>
                    <a href="">Mobile</a>
                </li>
                <li>
                    <a href="">Logistics</a>
                </li>
                <li>
                    <a href="">Aitomotives</a>
                </li>
                <li>
                    <a href="">Industries</a>
                </li>
            </ul>
        </div>
        <div class="sec4-part3">
            <h1>PRODUCTS</h1>
            <ul>
                <li>
                    <a href="">Blogs</a>
                </li>
                <li>
                    <a href="">Webnaries</a>
                </li>
                <li>
                    <a href="">Mobile</a>
                </li>
                <li>
                    <a href="">Logistics</a>
                </li>
                <li>
                    <a href="">Aitomotives</a>
                </li>
                <li>
                    <a href="">Industries</a>
                </li>
            </ul>
        </div>
        <div class="sec4-part4">
            <h1>WRITE US A COMMENT</h1>

            <textarea name="comments" id="" cols="30" rows="10" placeholder="comment here"></textarea><br>

            <input type="submit" name="submit" id="submit" value="SUBMIT">
        </div>
    </section>

    <section class="section5"></section>







   
</body>

</html>